@import '../../../../styles/variables.scss';

.photo-card {
  margin: 15px 0;
}

.photo-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  display: table-cell;
  font-size: $font-size-lg;
  font-weight: 600;
}

.photo-author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  display: table-cell;
  font-size: $font-size-md
}

.photo-tags {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  display: table-cell;
  font-size: $font-size-sm;
  position: absolute;
  bottom: 20px;
}

.photo-description {
  font-size: $font-size-sm;
}

.photo-description-title{
  font-weight: 600;
}

.photo-tags-title{
  font-weight: 600;
}

.card-body {
  height: 180px;
}

.card-title {
  height: 30%;
}