// colors

$white: #fff;

$black: #000;

$red: #E14848;
$red-dark: #b50000;
$red-darker: #560606;

$blue: #007eff;

$grey: #95A5A6;


// font sizes

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

